/*
color pallette

https://colorhunt.co/palette/155241

#f0dd92
#ffffc5
#d6e4aa
#83b582

*/

:root {
    --bg: whitesmoke;
}

body {
    background-color: var(--bg);
    font-family: 'Quicksand', sans-serif;
}

.Viz {
    width: 80%;
    
    /*center horizontally*/
    margin: auto;
    
    background-color: #f0dd92;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    text-align: center;
}


/*@media at certain width increase .VizContainer width to 100%*/
@media only screen and (max-width: 1100px) {
.Viz {
    width: 100%;
}
}


